@page
@model MegaDesk_WebApp.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskQuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.CustomerName" class="control-label"></label>
                <input asp-for="DeskQuote.CustomerName" class="form-control" />
                <span asp-validation-for="DeskQuote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Width" class="control-label"></label>
                <input asp-for="DeskQuote.Width" class="form-control" />
                <span asp-validation-for="DeskQuote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Depth" class="control-label"></label>
                <input asp-for="DeskQuote.Depth" class="form-control" />
                <span asp-validation-for="DeskQuote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Drawers" class="control-label"></label>
                <input asp-for="DeskQuote.Drawers" class="form-control" />
                <span asp-validation-for="DeskQuote.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.DateAdded" class="control-label"></label>
                <input asp-for="DeskQuote.DateAdded" class="form-control" />
                <span asp-validation-for="DeskQuote.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Material" class="control-label"></label>
                <select asp-for="DeskQuote.Material" class="form-control" asp-items="Html.GetEnumSelectList<SurfaceMaterial>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="DeskQuote.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.ProductionTime" class="control-label"></label>
                <select asp-for="DeskQuote.ProductionTime" class="form-control">
                    <option selected="selected" value="">Please select</option>
                    <option selected="selected" value="3">3 Days</option>
                    <option selected="selected" value="5">5 Days</option>
                    <option selected="selected" value="7">7 Days</option>
                    <option selected="selected" value="14">14 Days</option>
                </select>
                <span asp-validation-for="DeskQuote.ProductionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
